[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
	branch = master
[submodule ".local/share/nvim/site/pack/packer/start/packer.nvim"]
	path = .local/share/nvim/site/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
	branch = master
