[user]
    name = Gabriel Rojas
    email = grojas@zerofox.com
    signingkey = 29F3609CCAA1522E32791E56A4E9D5C4F1799165

[color]
    status = auto
    branch = auto
    interactive = auto
    diff = auto
    grep = auto
    ui = auto

[commit]
    gpgsign = true
    template = /Users/grojas/.gitmessage

[tag]
    gpgsign = true

[init]
    defaultBranch = main

[pull]
    rebase = true

[rebase]
    autostash = true
    autosquash = true

[credential]
    username = grojas@zerofox.com

[push]
    autoSetupRemote = true

[pager]
# Use `diff-highlight`
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less

[merge]
    conflictStyle = zdiff3

[rerere]
    enabled = true

[diff]
    algorithm = histogram
    colorMoved = default

[branch]
    sort = -committerdate

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[core]
    excludesFile = /Users/grojas/.gitignore_global
